# Data Preparation for NRF9.3 Analysis

This notebook prepares data for NRF9.3 (Nutrient Rich Foods Index) calculation.

## Workflow:
1. Load FPED (Food Patterns Equivalents Database) data
2. Load FNDDS Nutrient Values data  
3. Merge both datasets
4. Rename columns for consistency
5. Verify required nutrient columns
6. Export to `processed_data.csv`

## Output:
- `processed_data.csv` - Ready for scoring in `nrf9.3_scoring.ipynb` and analysis in `run_analysis.ipynb`

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)

In [4]:
import pandas as pd
import os

In [5]:


fped_file = "/content/drive/MyDrive/DAV/FPED_1718.xlsx"
nutrient_file = "/content/drive/MyDrive/DAV/2017-2018 FNDDS At A Glance - FNDDS Nutrient Values.xlsx"
output_file = "/content/drive/MyDrive/DAV/processed_data.csv"

print(f"FPED file: {fped_file}")
print(f"Nutrient file: {nutrient_file}")
print(f"Output file: {output_file}")

FPED file: /content/drive/MyDrive/DAV/FPED_1718.xlsx
Nutrient file: /content/drive/MyDrive/DAV/2017-2018 FNDDS At A Glance - FNDDS Nutrient Values.xlsx
Output file: /content/drive/MyDrive/DAV/processed_data.csv

In [7]:
# Load Excel files
print("Loading FPED data...")
df_fped = pd.read_excel(fped_file)
print(f"FPED Shape: {df_fped.shape}")

print("\nLoading Nutrient data...")
df_nutrient = pd.read_excel(nutrient_file)
print(f"Nutrient Shape: {df_nutrient.shape}")

Loading FPED data...

/usr/local/lib/python3.12/dist-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

FPED Shape: (7083, 39)

Loading Nutrient data...
Nutrient Shape: (7083, 69)

In [8]:
# Preview data
print("=== FPED Columns ===")
print(df_fped.columns.tolist())
print(f"\n=== FPED First 3 rows ===")
df_fped.head(3)

=== FPED Columns ===
['ID', 'DESCRIPTION', 'F_TOTAL (cup eq.)', 'F_CITMLB (cup eq.)', 'F_OTHER (cup eq.)', 'F_JUICE (cup eq.)', 'V_TOTAL (cup eq.)', 'V_DRKGR (cup eq.)', 'V_REDOR_TOTAL (cup eq.)', 'V_REDOR_TOMATO (cup eq.)', 'V_REDOR_OTHER (cup eq.)', 'V_STARCHY_TOTAL (cup eq.)', 'V_STARCHY_POTATO (cup eq.)', 'V_STARCHY_OTHER (cup eq.)', 'V_OTHER (cup eq.)', 'V_LEGUMES (cup eq.)', 'G_TOTAL (oz. eq.)', 'G_WHOLE (oz. eq.)', 'G_REFINED (oz. eq.)', 'PF_TOTAL (oz. eq.)', 'PF_MPS_TOTAL (oz. eq.)', 'PF_MEAT (oz. eq.)', 'PF_CUREDMEAT (oz. eq.)', 'PF_ORGAN (oz. eq.)', 'PF_POULT (oz. eq.)', 'PF_SEAFD_HI (oz. eq.)', 'PF_SEAFD_LOW (oz. eq.)', 'PF_EGGS (oz. eq.)', 'PF_SOY (oz. eq.)', 'PF_NUTSDS (oz. eq.)', 'PF_LEGUMES (oz. eq.)', 'D_TOTAL (cup eq.)', 'D_MILK (cup eq.)', 'D_YOGURT (cup eq.)', 'D_CHEESE (cup eq.)', 'OILS (grams)', 'SOLID_FATS (grams)', 'ADD_SUGARS (tsp. eq.)', 'A_DRINKS (no. of drinks)']

=== FPED First 3 rows ===

,ID,DESCRIPTION,F_TOTAL (cup eq.),F_CITMLB (cup eq.),F_OTHER (cup eq.),F_JUICE (cup eq.),V_TOTAL (cup eq.),V_DRKGR (cup eq.),V_REDOR_TOTAL (cup eq.),V_REDOR_TOMATO (cup eq.),...,PF_NUTSDS (oz. eq.),PF_LEGUMES (oz. eq.),D_TOTAL (cup eq.),D_MILK (cup eq.),D_YOGURT (cup eq.),D_CHEESE (cup eq.),OILS (grams),SOLID_FATS (grams),ADD_SUGARS (tsp. eq.),A_DRINKS (no. of drinks)
0,11000000,"Milk, human",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0
1,11100000,"Milk, NFS",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.41,0.41,0.0,0.0,0.0,1.38,0.0,0.0
2,11111000,"Milk, whole",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.41,0.41,0.0,0.0,0.0,2.59,0.0,0.0

In [9]:
# Preview Nutrient data
print("=== Nutrient Columns ===")
print(df_nutrient.columns.tolist())
print(f"\n=== Nutrient First 3 rows ===")
df_nutrient.head(3)

=== Nutrient Columns ===
['ID', 'Main food description', 'WWEIA Category number', 'WWEIA Category description', 'Energy (kcal)', 'Protein (g)', 'Carbohydrate (g)', 'Sugars, total\n(g)', 'Fiber, total dietary (g)', 'Total Fat (g)', 'Fatty acids, total saturated (g)', 'Fatty acids, total monounsaturated (g)', 'Fatty acids, total polyunsaturated (g)', 'Cholesterol (mg)', 'Retinol (mcg)', 'Vitamin A, RAE (mcg_RAE)', 'Carotene, alpha (mcg)', 'Carotene, beta (mcg)', 'Cryptoxanthin, beta (mcg)', 'Lycopene (mcg)', 'Lutein + zeaxanthin (mcg)', 'Thiamin (mg)', 'Riboflavin (mg)', 'Niacin (mg)', 'Vitamin B-6 (mg)', 'Folic acid (mcg)', 'Folate, food (mcg)', 'Folate, DFE (mcg_DFE)', 'Folate, total (mcg)', 'Choline, total (mg)', 'Vitamin B-12 (mcg)', 'Vitamin B-12, added\n(mcg)', 'Vitamin C (mg)', 'Vitamin D (D2 + D3) (mcg)', 'Vitamin E (alpha-tocopherol) (mg)', 'Vitamin E, added\n(mg)', 'Vitamin K (phylloquinone) (mcg)', 'Calcium (mg)', 'Phosphorus (mg)', 'Magnesium (mg)', 'Iron\n(mg)', 'Zinc\n(mg)', 'Copper (mg)', 'Selenium (mcg)', 'Potassium (mg)', 'Sodium (mg)', 'Caffeine (mg)', 'Theobromine (mg)', 'Alcohol (g)', '4:0\n(g)', '6:0\n(g)', '8:0\n(g)', '10:0\n(g)', '12:0\n(g)', '14:0\n(g)', '16:0\n(g)', '18:0\n(g)', '16:1\n(g)', '18:1\n(g)', '20:1\n(g)', '22:1\n(g)', '18:2\n(g)', '18:3\n(g)', '18:4\n(g)', '20:4\n(g)', '20:5 n-3\n(g)', '22:5 n-3\n(g)', '22:6 n-3\n(g)', 'Water\n(g)']

=== Nutrient First 3 rows ===

,ID,Main food description,WWEIA Category number,WWEIA Category description,Energy (kcal),Protein (g),Carbohydrate (g),"Sugars, total\n(g)","Fiber, total dietary (g)",Total Fat (g),...,20:1\n(g),22:1\n(g),18:2\n(g),18:3\n(g),18:4\n(g),20:4\n(g),20:5 n-3\n(g),22:5 n-3\n(g),22:6 n-3\n(g),Water\n(g)
0,11000000,"Milk, human",9602,Human milk,70,1.03,6.89,6.89,0.0,4.38,...,0.040,0.0,0.374,0.052,0.0,0.026,0.000,0.000,0.0,87.50
1,11100000,"Milk, NFS",1004,"Milk, reduced fat",51,3.34,4.87,4.89,0.0,1.99,...,0.002,0.0,0.069,0.007,0.0,0.003,0.000,0.001,0.0,89.04
2,11111000,"Milk, whole",1002,"Milk, whole",60,3.28,4.67,4.81,0.0,3.20,...,0.004,0.0,0.115,0.012,0.0,0.004,0.001,0.002,0.0,88.10

In [10]:
# Identify merge key column
# Find common columns between FPED and Nutrient
fped_cols = set(df_fped.columns)
nutrient_cols = set(df_nutrient.columns)
common_cols = fped_cols.intersection(nutrient_cols)
print(f"Common columns for merge: {common_cols}")

Common columns for merge: {'ID'}

In [14]:
# Merge FPED and Nutrient data
# Assuming 'Food code' is the merge key (adjust if different)
merge_key = 'ID'  # Change this if needed based on your data

if merge_key in df_fped.columns and merge_key in df_nutrient.columns:
    df_merged = pd.merge(df_fped, df_nutrient, on=merge_key, how='inner')
    print(f"Merged successfully!")
    print(f"FPED rows: {len(df_fped)}")
    print(f"Nutrient rows: {len(df_nutrient)}")
    print(f"Merged rows: {len(df_merged)}")
else:
    print(f"Merge key '{merge_key}' not found. Please check column names.")
    print(f"FPED columns: {df_fped.columns.tolist()[:5]}...")
    print(f"Nutrient columns: {df_nutrient.columns.tolist()[:5]}...")

Merged successfully!
FPED rows: 7083
Nutrient rows: 7083
Merged rows: 7083

In [15]:
# Rename columns for consistency (if needed)
# Rename 'Food code' to 'ID' and 'Main food description' to 'DESCRIPTION'
rename_map = {
    'Food code': 'ID',
    'Main food description': 'DESCRIPTION'
}

df_final = df_merged.rename(columns=rename_map)
print(f"Columns renamed")
print(f"Shape: {df_final.shape}")
print(f"\nFirst 3 rows:")
df_final.head(3)

Columns renamed
Shape: (7083, 107)

First 3 rows:

,ID,DESCRIPTION,F_TOTAL (cup eq.),F_CITMLB (cup eq.),F_OTHER (cup eq.),F_JUICE (cup eq.),V_TOTAL (cup eq.),V_DRKGR (cup eq.),V_REDOR_TOTAL (cup eq.),V_REDOR_TOMATO (cup eq.),...,20:1\n(g),22:1\n(g),18:2\n(g),18:3\n(g),18:4\n(g),20:4\n(g),20:5 n-3\n(g),22:5 n-3\n(g),22:6 n-3\n(g),Water\n(g)
0,11000000,"Milk, human",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.040,0.0,0.374,0.052,0.0,0.026,0.000,0.000,0.0,87.50
1,11100000,"Milk, NFS",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002,0.0,0.069,0.007,0.0,0.003,0.000,0.001,0.0,89.04
2,11111000,"Milk, whole",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.004,0.0,0.115,0.012,0.0,0.004,0.001,0.002,0.0,88.10

In [16]:
if 'ADD_SUGARS (tsp. eq.)' in df_final.columns:
    df_final['Added Sugar (g)'] = df_final['ADD_SUGARS (tsp. eq.)'] * 4.2
    print("Đã tạo cột mới: 'Added Sugar (g)' từ 'ADD_SUGARS (tsp. eq.)'")

    # Kiểm tra thử 5 dòng đầu
    print(df_final[['DESCRIPTION', 'ADD_SUGARS (tsp. eq.)', 'Added Sugar (g)']].head())
else:
    print("Lỗi: Không tìm thấy cột 'ADD_SUGARS (tsp. eq.)'")

Đã tạo cột mới: 'Added Sugar (g)' từ 'ADD_SUGARS (tsp. eq.)'
                      DESCRIPTION                     DESCRIPTION  \
0                     Milk, human                     Milk, human
1                       Milk, NFS                       Milk, NFS
2                     Milk, whole                     Milk, whole
3         Milk, low sodium, whole         Milk, low sodium, whole
4  Milk, calcium fortified, whole  Milk, calcium fortified, whole

   ADD_SUGARS (tsp. eq.)  Added Sugar (g)
0                    0.0              0.0
1                    0.0              0.0
2                    0.0              0.0
3                    0.0              0.0
4                    0.0              0.0

In [19]:
# Check required nutrient columns for NRF9.3
required_nutrients = [
    'Protein (g)',
    'Fiber, total dietary (g)',
    'Vitamin A, RAE (mcg_RAE)',
    'Vitamin C (mg)',
    'Vitamin E (alpha-tocopherol) (mg)',
    'Calcium (mg)',
    'Iron\n(mg)',
    'Magnesium (mg)',
    'Potassium (mg)',
    'Fatty acids, total saturated (g)',
    'Sugars, total\n(g)',
    'Sodium (mg)',
    'Added Sugar (g)'
]

print("Checking required nutrient columns:")
missing_cols = []
for col in required_nutrients:
    if col in df_final.columns:
        print(f"{col}")
    else:
        print(f"{col} - MISSING")
        missing_cols.append(col)

if not missing_cols:
    print("\nAll required columns present!")

Checking required nutrient columns:
Protein (g)
Fiber, total dietary (g)
Vitamin A, RAE (mcg_RAE)
Vitamin C (mg)
Vitamin E (alpha-tocopherol) (mg)
Calcium (mg)
Iron
(mg)
Magnesium (mg)
Potassium (mg)
Fatty acids, total saturated (g)
Sugars, total
(g)
Sodium (mg)
Added Sugar (g)

All required columns present!

In [21]:
# --- BƯỚC MỚI: Chỉ giữ lại các cột cần thiết ---
# 1. Các cột định danh và năng lượng (Quan trọng để chuẩn hóa)
core_cols = ['ID', 'DESCRIPTION', 'Energy (kcal)']
# 2. 37 Cột FPED (Thực phẩm tương đương)
fped_cols = [
    'F_TOTAL (cup eq.)', 'F_CITMLB (cup eq.)', 'F_OTHER (cup eq.)', 'F_JUICE (cup eq.)',
    'V_TOTAL (cup eq.)', 'V_DRKGR (cup eq.)', 'V_REDOR_TOTAL (cup eq.)', 'V_REDOR_TOMATO (cup eq.)',
    'V_REDOR_OTHER (cup eq.)', 'V_STARCHY_TOTAL (cup eq.)', 'V_STARCHY_POTATO (cup eq.)',
    'V_STARCHY_OTHER (cup eq.)', 'V_OTHER (cup eq.)', 'V_LEGUMES (cup eq.)',
    'G_TOTAL (oz. eq.)', 'G_WHOLE (oz. eq.)', 'G_REFINED (oz. eq.)',
    'PF_TOTAL (oz. eq.)', 'PF_MPS_TOTAL (oz. eq.)', 'PF_MEAT (oz. eq.)', 'PF_CUREDMEAT (oz. eq.)',
    'PF_ORGAN (oz. eq.)', 'PF_POULT (oz. eq.)', 'PF_SEAFD_HI (oz. eq.)', 'PF_SEAFD_LOW (oz. eq.)',
    'PF_EGGS (oz. eq.)', 'PF_SOY (oz. eq.)', 'PF_NUTSDS (oz. eq.)', 'PF_LEGUMES (oz. eq.)',
    'D_TOTAL (cup eq.)', 'D_MILK (cup eq.)', 'D_YOGURT (cup eq.)', 'D_CHEESE (cup eq.)',
    'OILS (grams)', 'SOLID_FATS (grams)', 'ADD_SUGARS (tsp. eq.)', 'A_DRINKS (no. of drinks)'
    # Lưu ý: Kiểm tra tên cột A_DRINKS trong file của bạn (no. of drinks hay grams)
]
# 3. Các chất dinh dưỡng để tính NRF9.3
# Lưu ý chính xác tên cột (bao gồm ký tự xuống dòng \n nếu có trong file gốc)
nutrient_cols = [
    'Protein (g)',
    'Fiber, total dietary (g)',
    'Vitamin A, RAE (mcg_RAE)',
    'Vitamin C (mg)',
    'Vitamin E (alpha-tocopherol) (mg)',
    'Calcium (mg)',
    'Iron\n(mg)',
    'Magnesium (mg)',
    'Potassium (mg)',
    'Fatty acids, total saturated (g)',
    'Sodium (mg)',
    'Added Sugar (g)' # Cột chúng ta vừa tạo ở bước trên
]
# Tổng hợp các cột cần giữ (Dùng intersection để tránh lỗi nếu thiếu cột nào đó)
cols_to_keep = core_cols + fped_cols + nutrient_cols
available_cols = [c for c in cols_to_keep if c in df_final.columns]
# Lọc dữ liệu
df_final = df_final[available_cols]
print(f"Đã lọc dữ liệu. Số cột còn lại: {df_final.shape[1]}")
# Kiểm tra nếu mất cột quan trọng
missing = set(cols_to_keep) - set(available_cols)
if missing:
    print(f"Thiếu các cột: {missing}")

Đã lọc dữ liệu. Số cột còn lại: 53

In [22]:
# 2. Loại bỏ các dòng mà TOÀN BỘ chất dinh dưỡng đều bằng 0 (Dữ liệu rỗng)
# Danh sách các cột dinh dưỡng để kiểm tra (không tính ID, Desc)
nut_check_cols = [c for c in df_final.columns if c not in ['ID', 'DESCRIPTION', 'WWEIA Category number', 'WWEIA Category description']]
# Chỉ giữ lại các dòng có ít nhất 1 giá trị khác 0 trong các cột dinh dưỡng
df_final = df_final.loc[(df_final[nut_check_cols] != 0).any(axis=1)]
print(f"Đã làm sạch dữ liệu rác. Shape hiện tại: {df_final.shape}")

Đã làm sạch dữ liệu rác. Shape hiện tại: (7080, 53)

In [23]:
# Save processed data to CSV
df_final.to_csv(output_file, index=False)
print(f"Saved processed data to: {output_file}")
print(f"   Total rows: {len(df_final)}")
print(f"   Total columns: {len(df_final.columns)}")

Saved processed data to: /content/drive/MyDrive/DAV/processed_data.csv
   Total rows: 7080
   Total columns: 53

In [24]:
# Summary statistics for nutrient columns
print("=== Nutrient Summary Statistics ===\n")
nutrient_cols = [col for col in required_nutrients if col in df_final.columns]
df_final[nutrient_cols].describe()

=== Nutrient Summary Statistics ===

,Protein (g),"Fiber, total dietary (g)","Vitamin A, RAE (mcg_RAE)",Vitamin C (mg),Vitamin E (alpha-tocopherol) (mg),Calcium (mg),Iron\n(mg),Magnesium (mg),Potassium (mg),"Fatty acids, total saturated (g)",Sodium (mg),Added Sugar (g)
count,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.000000,7080.00000,7080.000000
mean,8.602729,1.704562,73.170056,5.698630,1.087415,73.504661,1.752428,27.803249,217.219492,2.796216,340.64774,4.877007
std,8.296758,2.558470,241.959694,15.551342,3.134474,114.872027,3.636388,38.211697,204.807126,4.103121,350.33771,11.674891
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,2.220000,0.100000,2.000000,0.000000,0.230000,14.750000,0.460000,12.000000,111.000000,0.504500,124.75000,0.000000
50%,6.190000,1.000000,20.000000,0.700000,0.550000,37.000000,1.040000,20.000000,183.000000,1.444000,313.00000,0.000000
75%,12.142500,2.100000,61.000000,5.300000,1.110000,92.000000,1.840000,29.000000,271.000000,3.674000,454.00000,2.950500
max,78.130000,46.200000,9363.000000,560.000000,149.400000,1375.000000,64.100000,611.000000,6040.000000,82.500000,7851.00000,99.792000